.webpack-logo{
  width: 100px;
  height: 100px;
  display: inline-block;
  background-image: url(~images/webpack-logo.png);
  background-size: cover;
  z-index: 10;
}
.welcome-box{
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  z-index: 20;
}